
<div class="thumbnail">
    <div class="row">
        <div class ="col-sm-4">
            <div class="caption">
              <h4>Payments</h4>
            </div>
          </div>
           <div class ="col-sm-offset-2 col-sm-6 toolbar">
              <button class="btn btn-default pull-right"> <span class="glyphicon glyphicon-refresh"></span></button>
           </div>
          </div>
   <div class="row">
     <div class= "col-sm-12">
        <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">{{totalPayment}}</span>
              Total Payment (Rs)
            </li>
            <li class="list-group-item">
                <span class="badge">{{receivedPayment}}</span>
                Received Payment (Rs)
              </li>
              <li class="list-group-item">
                  <span class="badge">{{pendingPayment}}</span>
                  Pending Payment (Rs)
                </li>
                <li class="list-group-item">
                    <span class="badge">{{totalInvoice}}</span>
                    Total Invoices
                  </li>
                  <li class="list-group-item">
                      <span class="badge">{{totalLateInvoice}}</span>
                      No of Late Invoices
                  </li>  
          </ul>
     </div>
   </div>
</div>
