
<div class="thumbnail">
    <div class="row">
    <div class ="col-sm-5">
        <div class="caption">
          <h4>{{title}}</h4>
        </div>
      </div>
       <div class ="col-sm-offset-2 col-sm-5 toolbar">
          <button class="btn btn-default pull-right"> <span class="glyphicon glyphicon-refresh"></span></button>
          <button class="btn btn-default pull-right"> <span class="glyphicon glyphicon-plus-sign"></span></button>
          <div class="input-group">  
            <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
            </div>
       </div>
 
      </div>
      <div class= "row">
        <div class ="col-sm-12">
         <table class= 'table table-fixed'>
           <thead>
             <tr>
               <th class= "col-xs-2">Amount(Rs)</th>
               <th class= "col-xs-2">Date</th>
               <th class= "col-xs-4">Invoice</th>
               <th class= "col-xs-2">Details</th>
               <th class= "col-xs-2">Action</th>
             </tr>
           </thead>
           <tbody>
              <tr *ngIf="payments?.length == 0">
                  <td class= "col-xs-12"> <span class="search_no_results">
                                 No data found 
                              </span>
                      </td>
               </tr>
               <tr *ngFor ='let payment of payments'>
                 
                 <td class= "col-xs-2">{{payment.paidAmount}}</td>
                 <td class= "col-xs-2">{{payment.payDate | date: 'dd/MM/yyyy'}}</td>
                 <td class= "col-xs-4"> <span class="badge">{{payment.invoiceIds}}</span></td>
                 <td class= "col-xs-2">{{payment.details}}</td>
                 <td class= "col-xs-2">
                   <button type="button" class="btn btn-warning"(click)="modal1.show(payment)" >
                     <span class="glyphicon glyphicon-pencil"></span></button>
                     
                   <button type="button" class="btn btn-danger" (click)='deletePayment(payment.payId)'> <span class="glyphicon glyphicon-remove"></span></button>
                  </td>
               </tr>
           </tbody>
         </table>
         </div>
        </div>
        <app-panel-form #modal1 >
         
        </app-panel-form>
</div>
